# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Poetry
.venv/
# poetry.lock  # Uncomment to ignore poetry.lock file

# Test coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# Linting and type checking
.mypy_cache/
.ruff_cache/

# Application data
data/exports/
__pycache__/main.cpython-313.pyc
data/exports/keywords_report_2025_05_22.csv
data/exports/keywords_report_2025_05_22.json
